/*
 * @Description: 
 * @Version: 0.4.0
 * @Vender: D-link
 * @Author: YueXiangling
 * @Date: 2020-02-27 10:34:08
 * @LastEditNote: 
 * @LastEditors: YueXiangling
 * @LastEditTime: 2020-03-03 18:33:05
 */
.liveview {
  border-radius: 2px;
  padding: 4px;
}
.liveview .headline {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.liveview .headline .left {
  flex-shrink: 0;
  margin-right: 8px;
}
.liveview .headline .left .time {
  font-size: 22px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1;
}
.liveview .headline .left .date {
  font-size: 12px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
}
.liveview .headline .middle {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.liveview .headline .middle .arrow {
  margin-left: 2px;
}
.liveview .headline .middle .arrow .dropdown-toggle {
  padding: 6px !important;
  border: none;
}
.liveview .headline .middle .arrow .dropdown-toggle .dropdown-icon {
  width: 22px;
  height: 22px;
  position: static;
}
.liveview .headline .middle .arrow .dropdown-menu {
  right: 0;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 7px;
  padding-bottom: 7px;
  width: 240px;
}
.liveview .headline .middle .arrow .dropdown-menu > em,
.liveview .headline .middle .arrow .dropdown-menu > span {
  left: auto;
  right: 5px;
}
.liveview .headline .middle .arrow .dropdown-menu > .btn {
  margin-bottom: 5px;
  margin-right: 5px;
}
.liveview .headline .middle .pgNum {
  margin: 0 8px;
}
.liveview .headline .middle .pgNum .red {
  color: #e6185a;
}
.liveview .headline .middle .interval {
  width: 80px;
  height: 32px;
}
.liveview .headline .middle .interval > .btn {
  width: 70px;
  text-align: left;
}
.liveview .headline .middle .stop {
  border: none;
  padding-left: 6px;
  padding-right: 6px;
}
.liveview .headline .right {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.liveview .headline .right .scale {
  color: #666;
}
.liveview .headline .right .scale > span {
  font-size: 20px;
}
.liveview .headline .right .hr-v {
  height: 32px;
  margin-right: 12px;
}
.liveview .headline .right .cameras {
  margin-left: 8px;
}
.liveview .headline .right .cameras > span {
  font-size: 20px;
}
.liveview > .wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #060f3d;
}
.liveview > .wrap .videoSwiper {
  flex-grow: 1;
  overflow: hidden;
}
.liveview > .wrap .videoSwiper .swiper-container {
  width: 100%;
  background-color: #060f3d;
  overflow: visible;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier {
  text-align: center;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 2px;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid {
  width: 33.33%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 2px;
  padding-top: 2px;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid > div {
  width: 100%;
  height: 100%;
  background-color: #666;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid > div .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid > div .text {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #ffffff;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid-row .grid-col {
  padding-left: 2px;
  padding-top: 2px;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid-row .grid-col > div {
  width: 100%;
  height: 100%;
  background-color: #666;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid-row .grid-col > div .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-wrapper .contanier .grid-row .grid-col > div .text {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #ffffff;
}
.liveview > .wrap .videoSwiper .swiper-container .swiper-pagination {
  bottom: -30px;
}
.liveview > .wrap .camera-hide {
  width: 20px !important;
}
.liveview > .wrap .camera {
  width: 120px;
  height: 100%;
  max-width: 15%;
  flex-shrink: 0;
  background-color: #1a273a;
  position: relative;
  transition: width 0.6s;
  overflow: hidden;
}
.liveview > .wrap .camera .title {
  text-align: center;
  flex-shrink: 0;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #444;
}
.liveview > .wrap .camera .title h4 {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  line-height: 34px;
}
.liveview > .wrap .camera ul.list {
  height: 100%;
  margin-top: 34px;
  padding: 6px 8px;
}
.liveview > .wrap .camera ul.list li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 2px 0;
}
.liveview > .wrap .camera ul.list li .img {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-right: 5px;
  flex-shrink: 0;
}
.liveview > .wrap .camera ul.list li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.liveview > .wrap .camera ul.list li .name {
  color: #949faa;
  margin: 0;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: break-word;
}
