/*
 * @Description: 只用于nvr的css

 * @Version: 0.4.0
 * @Vender: D-link
 * @Author: YueXiangling
 * @Date: 2020-02-21 18:16:00
 * @LastEditRelease: 
 * @LastEditors: YueXiangling
 * @LastEditTime: 2020-02-25 18:41:27
 */
.modal-userprofile .modal-dialog {
  max-width: 90vw;
}
.main-header .navbar .nav > li.dropdown.split-dropdown > a.jumpPage {
  padding: 8px 12px;
}
.main-header .navbar .nav > li.dropdown.split-dropdown > a.jumpPage md-icon {
  width: 24px;
  height: 24px;
}
