<div class="passMask">
    <input  class="inner" type="password"  ng-model="passValue" ng-show="!showpass" ng-trim="false"
           ng-blur="checkValue();" autocomplete="new-password">
    <input class="inner" type="text" ng-model="passValue" ng-show="showpass" ng-trim="false" ng-blur="checkValue();">
    <a style="position:absolute;right:2px;top:0" type="button" class="btn-grid btn-eyes" ng-click="changePass();">
        <md-icon title="{{'title.passHide' | translate}}" ng-show="showpass" md-svg-icon="eyes:open"></md-icon>
        <md-icon title="{{'title.passShow' | translate}}" ng-show="!showpass" md-svg-icon="eyes:close"></md-icon>
    </a>
</div>