
#controlpane {
    position: absolute;
    left: 20px;
    top: 58px;
    background: transparent;
}

#controlpane div {
    margin-bottom: 5px;
}

#controlpane div:last-child {
    margin-bottom: 0px;
}

div#zoomReset a {
    display: block;
    height: 24px;
    width: 24px;
    background: url('../images/topo/zoomReset.png') left top no-repeat;
}

div#zoomLarger a {
    display: block;
    height: 24px;
    width: 24px;
    background: url('../images/topo/zoomLarger.png') left top no-repeat;
}

div#zoomSmaller a {
    display: block;
    height: 24px;
    width: 24px;
    background: url('../images/topo/zoomSmaller.png') left top no-repeat;
}

#controlpane a:hover {
    cursor: pointer;
    background-position: left -24px;
}

#controlpane a:active {
    background-position: left -48px;
}

#controlpane a.disabledChg {
    cursor: default;
    background-position: left -72px;
}

.my-div-icon, .my-div-icon-sel {
    margin-left: -45px !important;
    margin-top: -30px !important;
    width: auto !important;
    height: 104px !important;
    text-align: center
}

.my-div-icon div {
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0.85);
    font-size: 12px;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
    margin-top: -4px;
}

.my-div-icon label, .my-div-icon-sel label {
    margin-bottom: 0;
    font-weight: normal;
    word-break: keep-all;
    white-space: nowrap;
}

.my-div-icon-sel {
    background: rgba(90, 197, 187, 0.85);
    border-radius: 4px;
    border: 1px solid #07b2a2;
}

.my-div-icon-sel div {
    position: relative;
    padding: 0 8px 4px 8px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

#tipdiv {
    display: none;
    position: absolute;
    min-width: 220px;
    background: rgba(240,240,240,0.9);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
}

#tipdiv span {
    margin-left: 8px;
    font-size: 12px;
    color: #ef9612;
}

#tipdiv .row {
    padding: 4px 0;
}

#tipdiv .title {
    color: #ef9612;
    font-size: 14px;
}

#tipdiv table {
    width: 368px;
    margin: 0 16px;
}

#searchDiv {
    display: none;
    position: absolute;
    width: 280px;
    right: 14px;
    top: 42px;
    background: #f0f0f0;
    border: 1px solid #07b2a2;
    padding: 8px;
}

#searchNodesDiv {
    border-bottom: 1px solid #aaa;
    margin-top: 8px;
    width: 260px;
    height: 240px;
    overflow: auto;
}

#searchNodesDiv tr:hover {
    background: rgba(90, 197, 187, 0.85);
    cursor: pointer;
}
#selAP{
    position: absolute;
    right: 48px;
    top: 40px;
    padding-top:6px;
}
#selAP>div{
    width: 164px;
    height: 200px;
    background-color: #fff;
    overflow: auto;
    border: 1px solid #ddd
}
#selAP .mgt6{
      margin-top:6px;
  }
#selAP .mgt4{
    margin-top:4px;
}
#selAP >div> ul {
    padding: 8px;
    font-size: 12px;
    color: #444;
    left: -82px;
}
#selAP>span
{
    top: -2px;
    z-index: 2;
    color: #fff;
}
#selAP>em{
    color:#ddd;
    top:-3px;
}
#selAP>span,#selAP>em{
    font-style: normal;
    font-size: 22px;
    position: absolute;
    left:114px;
    line-height: 1;
    cursor: pointer;
}
#selAP a{
    color:#999;
    height:24px;
}
#selAP span.circle{
    position: absolute;
    left: -8px;
    top: 10px;
    z-index:999;
    width: 4px;height: 4px;border-radius: 4px;
    background-color:#999;
}
#selAP li {
    clear: both;
}

#selAP md-icon, #selAP span, #selAP input {
    vertical-align: middle;
}

.hot-ap-menu>li.active{
    background-color: #fff4f7;
    border-left: 2px solid #f593b2;
}